/*'Roboto', sans-serif;
  'Raleway', sans-serif; */

body {
  color: #212121;
  background-color: #fff;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

/* ========= Section ========= */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* outline: 2px solid tomato; */
/* ========= Header =========  */

.header {
  border-bottom: 1px solid #ececec;
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-blue {
  color: #2196f3;
}

.navigation {
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link,
.address__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #2196f3;
}

.navigation .navigation__link.current {
  color: #2196f3;
}

.navigation__link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.address__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #757575;
  min-width: 161px;
}

.address__link:hover,
.address__link:focus {
  color: #2196f3;
}

.address__link:hover .address__mail,
.contacts__link:focus .address__mail {
  fill: #2196f3;
}

.address__mail {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}

.address__tel {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.address__link:hover .contacts__tel,
.address__link:focus .contacts__tel {
  fill: #2196f3;
}

header .address {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.address__contacts:not(:last-child) {
  margin-right: 30px;
}

.navigation__link,
.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========= Hero ========= */

.hero__heading {
  margin-bottom: 30px;

  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__button {
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  background-color: #2196f3;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.background {
  max-width: 1600px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  text-align: center;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;

  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__icon {
  width: 11px;
  height: 11px;

  fill: #000000;
}

.modal__icon:hover,
.modal__icon:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

/* Форма */

.modal-form__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  position: relative;
  margin-bottom: 20px;
}

.modal-form__message {
  resize: none;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  margin-top: 4px;
  cursor: pointer;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;

  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__policy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__policy-link {
  text-decoration-line: underline;
  color: #2196f3;
  text-decoration-skip-ink: none;
}

.modal-form__policy-text::before {
  content: '';
  width: 16px;
  height: 15px;
  background-image: url('../image/checkbox.svg');
  margin-right: 8px;
}

.modal-form__button {
  display: block;
  width: 200px;
  padding: 10px 55px 10px 56px;
  margin: 0 auto;
  cursor: pointer;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-form__policy:checked + .modal-form__policy-text::before {
  background-color: #2196f3;
  background-image: url('../image/checkbox-white.svg');
  background-size: 16px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 4px 3px 3px 3px;
  cursor: pointer;
}

.modal-form__message:hover,
.modal-form__message:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.modal-form__input:hover,
.modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.modal-form__input:hover ~ .modal-form__icon,
.modal-form__input:focus ~ .modal-form__icon {
  fill: #2196f3;
}

/* ========= features ========= */

.features__headlines {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.features__list {
  display: flex;
  align-items: flex-start;
}

.features__cards:not(:last-child) {
  margin-right: 30px;
}

.features__cards {
  min-width: 270px;
}

.features__headlines {
  margin-bottom: 10px;
}

.features {
  margin-bottom: 94px;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 270px;
  padding: 25px 100px 25px 100px;

  background: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  display: block;
  width: 70px;
  height: 70px;
}

/* ========= example ========= */

.example-headlines,
.section-team-headlines {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.example-headlines {
  text-align: center;
  margin-bottom: 50px;
}

.example {
  display: flex;
}

.example__photo:not(:last-child) {
  margin-right: 30px;
}

.section-example {
  margin-bottom: 94px;
}

.example__photo {
  position: relative;
}

.example__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 27px 82px;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* ========= team ========= */

.team__name,
.team__position {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team__position {
  color: #757575;
  margin-bottom: 16px;
}

.container-team {
  text-align: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__photo {
  margin-bottom: 30px;
  width: 270px;
  height: 260px;
}

.team__name {
  margin-bottom: 10px;
}

.team__cards {
  padding-bottom: 30px;
  min-width: 270px;
  margin-left: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__cards:nth-child(4n + 1) {
  margin-left: 0px;
}

.section-team-headlines {
  margin-bottom: 50px;
}

.section-team {
  background: #f5f4fa;
  margin-bottom: 94px;
  padding-bottom: 94px;
  padding-top: 95px;
}

.social-list {
  display: flex;
  justify-content: space-between;

  width: 206px;
  margin-left: 32px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: #2196f3;
}

/* ========= Clients ========= */

.section-clients {
  margin-bottom: 94px;
}

.section-clients__headlines {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__yago {
  width: 44.27px;
  height: 49.23px;
}

.clients__tagline {
  width: 40px;
  height: 52px;
}

.clients__company {
  width: 41px;
  height: 42.6px;
}

.clients__foster {
  width: 79.66px;
  height: 42.02px;
}

.clients__brand {
  width: 59px;
  height: 47px;
}

.clients__line {
  width: 88.48px;
  height: 45.44px;
}

.symbol {
  fill: #afb1b8;
  display: block;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .symbol,
.clients__link:focus .symbol {
  fill: #2196f3;
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid #2196f3;
}

/* ========= Footer ========= */

.footer-contact,
.footer-contact__contacts {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contact {
  font-style: normal;
  min-width: 231px;
  text-align: left;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact__address {
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-contact__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__link {
  margin-bottom: 9px;
}

.footer__box > .logo {
  color: #fff;
}

.footer__box {
  margin-right: 70px;
}

.footer__box > .logo {
  display: inline-block;

  margin-bottom: 20px;
}

.footer__section {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

/* Футер соцсети */

.footer-headlin {
  display: block;
  margin-bottom: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social .social-list__icon {
  fill: #ffffff;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  margin-right: 93px;
}

/* ========= Подписка ========= */

.box-sub__mail {
  width: 358px;
  height: 50px;

  padding: 0;
  padding-left: 16px;
  margin-right: 12px;
  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.button-sub {
  display: flex;
  align-items: center;
  max-width: 200px;
  padding: 10px 28px 10px 29px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.box-sub {
  display: flex;
  align-items: center;
}

.button-sub__icon {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/* ========= Портфолио ========= */

.section-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.filters-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  border: solid transparent;
  border-radius: 4px;

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-box:not(:last-child) {
  margin-right: 8px;
}

/* ========== Projects ======== */

.border__heading {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.border__description {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__box {
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
}

.projects__link:hover,
.projects__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__box:nth-child(3n + 1) {
  margin-left: 0px;
}

.projects__box:nth-child(-n + 3) {
  margin-top: 0px;
}

.border {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 24px 20px;
  border-top: none;
}

.projects-overlay__cover {
  width: 370px;
  height: 294px;
}

.projects-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  padding: 63px 24px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects__link:hover .projects-overlay__text,
.projects__link:focus .projects-overlay__text {
  transform: translateY(0%);
}
